<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
       {{>header}}
       <p> If you need help call this Number +250783740481 weuse data from mapbox.com and darksky.com</p>
       <p>Developped By {{name}}</p>
       <script src="/js/app.js"></script>
    </body>
</html>