<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
       {{>header}}
       <p>Developped By {{name}}</p>
       <p>Use this site to get your weather service</p>
       <form>
           <input type="text" placeholder="location"> <button>Search</button>
       </form>
       <p>From javascript</p>
       <p id="message-1"></p>
       <p id="message-2"></p>
       <script src="/js/app.js"></script>
    </body>
</html>